.head-bun {
  align-items: flex-start;
  display: flex;
  height: 173px;
  left: 69px;
  min-width: 144px;
  position: absolute;
  top: 0;
}

.overlap-group1-4 {
  height: 166px;
  margin-left: -20px;
  margin-top: -10.4px;
  position: relative;
  width: 150px;
}

.background-3 {
  height: 134px;
  left: 35px;
  position: absolute;
  top: 30px;
  width: 111px;
}

.ink-4 {
  height: 166px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}

