.peep-68 {
  align-items: flex-end;
  display: flex;
  height: 479px;
  left: 1041px;
  min-width: 355px;
  padding: 50.3px 45.9px;
  position: absolute;
  top: 0;
}

.overlap-group3-1 {
  height: 372px;
  position: relative;
  width: 256px;
}

