.head-short-5 {
  align-items: flex-end;
  display: flex;
  height: 174px;
  left: 69px;
  min-width: 145px;
  padding: 15.7px 15.3px;
  position: absolute;
  top: 0;
}

.overlap-group1-3 {
  height: 142px;
  position: relative;
  width: 114px;
}

.background-1 {
  height: 132px;
  left: 2px;
  position: absolute;
  top: 6px;
  width: 109px;
}

.ink-1 {
  height: 142px;
  left: 0;
  position: absolute;
  top: 0;
  width: 114px;
}

