.peep-89 {
  align-items: flex-end;
  display: flex;
  height: 469px;
  left: 789px;
  min-width: 347px;
  padding: 49.3px 44.9px;
  position: absolute;
  top: 0;
}

.overlap-group2-3 {
  height: 365px;
  position: relative;
  width: 250px;
}

