.peep-46 {
  align-items: flex-end;
  display: flex;
  height: 471px;
  left: 996px;
  min-width: 348px;
  padding: 49.5px 45.0px;
  position: absolute;
  top: 11px;
}

.overlap-group2-2 {
  height: 366px;
  position: relative;
  width: 251px;
}

